* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    font-family: "Segoe UI", sans-serif;
    background: #f7f7f9;
}


body {
    overflow-x: hidden;
}

/* default elements */
a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}